main{
    border: 1px solid red;
    width: 75%;
    margin: 20px auto;
    background-color: antiquewhite;
    padding: 10px;
}
h1{
    text-align: center;
    color: #0798F2;
}
#caso{
    text-align: center;
}
#solucion{
    height: 200px;
    border: 1px solid green;
    width: 75%;
    margin: auto;
    text-align: center;
    padding-left: 20px;
}